html,
body {
  width: 100%;
  height: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}


/*Tipo de fuente*/
/*
font-family: 'Acme', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Belanosima', sans-serif;
font-family: 'Heebo', sans-serif;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Krub', sans-serif;
font-family: 'Marcellus', serif;
font-family: 'Orbitron', sans-serif;
font-family: 'PT Mono', monospace;
font-family: 'PT Sans', sans-serif;
font-family: 'Rowdies', cursive;
font-family: 'Sen', sans-serif;
font-family: 'Signika', sans-serif;
font-family: 'Source Code Pro', monospace;*/

/*Posible RGBA*/
/*rgba(97, 89, 89, 0.64), rgba(10, 8, 8, 0.43)*/
/*rgba(5, 4, 4, 0.5), rgba(24, 24, 28, 0.63)*/

.picture-principal {
  background-image: linear-gradient(rgba(5, 4, 4, 0.32), rgba(50, 50, 59, 0.21)),
    url(imagenes/1erImportante.jpg);
  /*Regla dada: Define el tamaño, imagen, color gradiente y comportamiento*/
  background-position: initial;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 450px;
}

/*Posible Color*/
/*#575C62*/
/*#5a5e63*/
/*#393C40*/
.menu {
  background-color: #7F8285;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Texto Busqueda*/
.texto-busqueda {
  border-radius: 4px;

}

.Busqueda {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Boton de en medio de buscar*/
.botonbuscar {
  display: inline-block;
  font-size: 18px;
  font-weight: 600px;
  text-transform: uppercase;
  padding: 6px 16px;
  color: black;
  background: white;
  letter-spacing: 2px;
  border-radius: 4px;
  font-family: 'PT Mono', monospace;
}

/*Posible Color*/
/*#393C40*/
.botonbuscar:hover {
  text-decoration: none;
  color: white;
  background-color: #5a5e63;
}

/*Tipos de Fuentes*/
/*font-family: 'Acme', sans-serif;
font-family: 'Belanosima', sans-serif;
font-family: 'Heebo', sans-serif;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Krub', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'PT Mono', monospace;
font-family: 'PT Sans', sans-serif;
font-family: 'Source Code Pro', monospace;*/
.menu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px 60px;
  font-family: 'Acme', sans-serif;
}

.menu a:hover {
  background-color: white;
  color: black;
  padding: 20px 60px;
}

.datos {
  padding-right: 200px;
  padding-top: -20px;
  justify-content: center;
  display: flex;
  margin-top: -40px;
  margin-bottom: 10px;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  color: white;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;

}

.logofactory a {
  text-decoration: none;
}

.iconos-derecha span a {
  font-size: 18px;
  padding-right: 28px;
  color: white;
  float: right;
  margin-top: -26px;
  margin-bottom: 10px;
  text-decoration: none;
}

/*Posible Color*/
/*#153DBC*/
/*#051398*/
/*#4169E1*/
/*#1423a9*/
/*2953FA*/
/*#273DFF*/
.first-sect {
  background-color: #1F63D3;
  padding-top: 2px;
  padding-bottom: 2px;
}
/*ACABA PARTE DE ARRIBA*/


.historia {
  text-transform: uppercase;
  font-family: 'Krub', sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: top;
  line-height: 0.10;
}

.content-history {
  justify-content: stretch;
}

.content-history h2 {
  text-align: center;
  font-size: 20px;
}

.conteny-history {
  display: flex;
}

.aside-contenido-izquierdo {

  height: 510px;
  background-color: #747474;
  color: white;
  border: 2px solid #000;
  padding: 10px;
}

.aside-contenido-izquierdo p {
  text-align: justify;
}

.aside-contenido-izquierdo h2 {
  text-align: center;
  text-transform: uppercase;
}

.imagen1 .imagen2 .imagen3 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.imagen1 img,
.imagen2 img,
.imagen3 img {
  max-width: 100%;
  max-height: 100%;
}

/*Posible Color*/
/*#ABADAF*/
.lahistoria {
  background-color: whitesmoke;
  padding-top: 18px;
  padding-bottom: 18px;
  color: white;
  text-align: center;
}

/*HISTORIA*/
.lahistoria .container {
  position: relative;

}

.historia {
  /* overflow: hidden;*/
  /* Oculta el contenido que exceda las dimensiones del contenedor */
  display: inline-block;
  /* Cambia el display para que el contenedor se ajuste al contenido */

}

.lahistoria .historia {
  background-color: #1F63D3;

  margin: 0;
  padding: 25px;
  transform: skew(-10deg);
  font-family: 'Krub', sans-serif;
  color: white;
}

/*Titulo Categorias Principales*/
/*Color de el h2*/
/*#ABADAF*/
.categort {
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: -2px;
  margin-bottom: -15px;
}

.categort .clasecat {
  position: relative;
  display: inline-block;
}

.categorias-h2 {
  text-transform: uppercase;
  font-family: 'Krub', sans-serif;
  font-size: 25px;
  text-align: center;
  vertical-align: top;
}

.categort .categorias-h2 {
  background-color: #1F63D3;
  margin: 0;
  padding: 25px;
  transform: skew(-10deg);
  font-family: 'Krub', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

/*Carrusel*/
.card {
  border: none;
  border-radius: 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.carrusel-completo {
  padding: 1em;
}

/* Da el tamaño del borde- en este caso en el carrusel*/
/* Da el tamaño del borde- en este caso en el carrusel
.carousel-inner {
  padding: 1em;
}*/

.Carrusel {
  margin-top: -45px;
  margin-bottom: 15px;
  margin-left: 50px;
}

.slider-container a {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 22px;
  text-align: center;
}

.slider-container .frase {
  text-align: justify;
}

/*
.carousel-control-prev span,
.carousel-control-next span {
  width: 0.5rem;
  height: 0.5rem;
}
*/

.carousel-control-prev-icon,
.carousel-control-next-icon {

  background-color: #5a5e63;
  width: 30px;
  height: 30px;
  border-radius: 45%;
  top: 50%;
  transform: translateY(-20%);

}

.carousel-control-prev-icon {
  margin-right: 140px;

  margin-top: 20px;
}

.carousel-control-next-icon {
  margin-left: 24px;
  margin-top: 20px;
}


@media screen and (min-width:568px) {
  .card-group {
    display: flex;
  }
}

.carta {
  margin: 3.0em;

}

.image-wrapper {
  height: 22vw;
  margin: 0 auto;
  /*
  display: flex;
  align-items: center;
  justify-content: center;*/
}

@media screen and (max-width:567px) {
  .card:not(:first-child) {
    display: none;
  }
}



.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.card-body a {
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
}

.card-text {
  text-align: justify;
}

.card-title {
  text-align: center;
}

/*Suscripcion abajo*/

.susct {
  background-color: #2988FA;
}


.Bus_da {
  display: flex;
  justify-content: center;
  align-items: center;

}

.texto-busqueda {
  border-radius: 5px;
}

.botonbuscar {
  border-radius: 5px;
}

.suscrp {
  padding-top: 20px;
}

.caja_boton {
  padding: 50px;
  margin-left: 50px;
}

.suscrp h4 {
  padding-top: -40px;
  padding-bottom: 5px;
  margin-left: 50px;
  font-family: 'Belanosima', sans-serif;
  font-size: 25px;
  color: white;
}

.suscrp .p1 {
  margin-top: 2px;
  margin-left: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.suscrp .p2 {
  margin-top: -5px;
  margin-left: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.caja_boton {
  margin-top: -110px;
  margin-left: 900px;

}

.suscrp span {
  font-family: 'Belanosima', sans-serif;
  font-size: 25px;
  color: white;
}

/*Flecha de enviar*/
/*#ffffff*/
/*#157cbc*/
/*#1259b5*/
.Bus_da i {
  font-size: 50px;
  margin-left: 6px;
}

/*Parte del Footer*/
/*#1423a9*/
footer {
  background-color: #1F63D3;
  padding: 30px;
}

.dato_importante {
  display: flex;
  align-items: flex-start;
}

.logofactoryfoo {
  margin-left: -15px;
}

.logo-footer {
  font-size: 20px;
  margin-top: 5px;
}

.informativo .container {
  margin-bottom: 28px;
}

/*Informacion de abajo*/
/*1era Seccion*/
.acerca_de .titulofooter {
  color: white;
  border-bottom: 2.6px solid #fff;
  width: 30%;
  border-bottom-style: solid;
  margin-top: -2px;
}

.acerca_de .titulofooter {
  margin-bottom: 9px;
  text-align: start;
}

.acerca_de .texto_1f {
  color: white;
  text-decoration: none;
}

/*2da Seccion*/
.atencion .titulofooter {
  color: white;
  border-bottom: 2.5px solid #fff;
  width: 50%;
  margin-left: 320px;
  margin-top: -188px;
}

.atencion .titulofooter {
  margin-bottom: 9px;
  text-align: start;
  margin-right: 132px;
}

.atencion .texto_1a {
  color: white;
  margin-left: 320px;
  text-decoration: none;
}

/*3era Seccion*/
.informacion-empresa .titulofooter {
  color: white;
  margin-top: -68px;
  border-bottom: 2.5px solid #fff;
  width: 70%;
  margin-left: 690px;
  /*680*/
}

.informacion-empresa .titulofooter {
  margin-bottom: 9px;
  text-align: start;
  margin-right: 75px;
}

.informacion-empresa .texto_1i {
  color: white;
  margin-left: 690px;
  text-decoration: none;
}

/*4ta Seccion*/
.direccion-empresa .titulofooter {
  color: white;
  margin-top: -150px;
  border-bottom: 2.5px solid #fff;
  width: 50%;
  margin-left: 1036px;
}

.direccion-empresa .titulofooter {
  margin-bottom: 9px;
  text-align: justify;
  margin-right: 220px;
}

.direccion-empresa .texto_1i {
  color: white;
  margin-left: 1038px;
  text-align: justify;
}

/*2DA PAGINA TIENDA*/

/* Optional: If you want to remove the extra padding on the left and right of the container, add this */
body {
  margin: 0;
  padding: 0;
}



.navbar-brand {
  color: white;
  font-family: 'Orbitron', sans-serif;
  margin-left: 2px;
  margin-right: 5px;
}

.titulo2 a {
  font-size: 27px;
}

.navbar .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -8px;
  margin-bottom: -8px;
}

.navbar {
  margin-left: 0;
  margin-right: 0;
}

.tienda {
  margin: 0;
  padding: 0;
}

.navbar-nav {
  margin-top: 8px;
  text-align: center;
  margin-left: 68px;
  font-weight: 490;
  font-family: 'Sen', sans-serif;
}

.link1 {
  margin-right: 38px;
}

.link1:hover {
  text-decoration: underline;
}

.link2 {
  margin-right: 38px;
}

.link2:hover {
  text-decoration: underline;
}

.link3 {
  margin-right: 38px;
}

.link3:hover {
  text-decoration: underline;
}

.link4 {
  margin-right: 38px;
}

.link4:hover {
  text-decoration: underline;
}


.d-flex {
  justify-content: end;
}

.nav-item a {
  font-size: 21px;
}

/**/
.custom-carousel {
  overflow: hidden;
  /* Ocultar cualquier contenido que se desborde */
}


.boton-buscar.btn-outline-primary {
  background-color: #f0f0f0;
  color: black;
  text-transform: uppercase;
  border: 2px solid black;
  font-weight: bold;
  /* Cambia el color del texto a negro (opcional) */
}

.texto-busqueda {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.boton-buscar {
  margin-left: 8px;
}


/* Agregamos una clase para extender el textbox */
.caja-texto.extender {
  width: 380px;
  /* Ancho aumentado del textbox */
}

/*Carrusel*/
.carousel-control-next {
  margin-right: 0px;
  /* Ajusta el ancho del botón derecho según tus necesidades */
}

.carousel-control-prev {
  margin-left: 0px;
}

/*Titulos de los Fondos*/
.carousel-inner h5 {
  font-family: 'Signika', sans-serif;
  font-size: 25px;
}

.carousel-inner p {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

/*Pedazo de la tienda*/
.card {
  margin-left: -10px;
  margin-top: 12px;
}

/*Reducir tanaaño abajo para el espacio*/
.contenedor-principal {
  margin-bottom: -22px;
}

.accordion {
  margin-top: 12px;
}

.card-textoprecio {
  text-align: center;
}

.card-body h5 {
  font-size: 22px;
}

.card-body .descuento {
  font-size: 19px;
}

.card-body span {
  text-decoration: line-through;
}

.card-body .precio-real {
  font-size: 23px;
}


.card-body a {
  font-size: 20px;
}

/*Parte Footer*/
/*Aqui empieza el footer*/


.clase-footer .primera-colmuna-footer {
  margin-right: 48px;
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 26px;
  background-color: #5C6874;
  font-weight: 400;
  padding-left: 10px;
}
.contenedor-footer{
  margin-top: 50px;
}

.clase-footer .primera-colmuna-footer2 {
  margin-right: 75px;
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 26px;
  background-color: #5C6874;
  font-weight: 400;
  padding-left: 10px;

}

.clase-footer .primera-colmuna {
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 26px;
  background-color: #5C6874;
  font-weight: 400;
  padding-left: 10px;
  margin-right: 60px;
}

.clase-footer-suscribirse h5 {
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 34px;
}

.clase-footer-suscribirse p {
  color: white;
  font-size: 18px;
}

.boton-buscar-footer.btn-outline-dark {
  background-color: #f0f0f0;
  color: black;
  text-transform: uppercase;
  border: 2px solid black;
  font-weight: bold;
  /* Cambia el color del texto a negro (opcional) */
}

.clase-footer .hora-atencion {
  font-size: 20px;
}

.clase-footer .texto-lahora {
  font-size: 17px;
  margin-top: -14px;
}

.footer-titulos .titulo-importante:hover {
  text-decoration: underline;
}

.footer-titulos {
  margin-bottom: -5px;
}

.footer-descripcion-empresa .palabra-compania {
  font-size: 19.5px;
  text-align: end;
  margin-right: 150px;
}

/*Logos Empresas*/

.footer-descripcion-empresa .redes-sociales {
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 29px;
  background-color: #5C6874;
  margin-right: 70px;
  margin-left: 64px;
  padding-left: 9px;
  padding-right: 9px;
}


.footer-descripcion-empresa .logo-facebook {
  font-size: 36px;
}

.footer-descripcion-empresa .logo-youtube {
  font-size: 36px;
}

.footer-descripcion-empresa .logo-instagram {
  font-size: 36px;
}

.footer-descripcion-empresa .logo-twitter {
  font-size: 36px;
}

.footer-descripcion-empresa .logo-tiktok {
  font-size: 36px;
}

/*Pagos*/
.pagos-formas .PAGO {
  color: white;
  font-family: 'Rowdies', cursive;
  font-size: 24px;
  margin-top: 18px;
}

.pagos-lista {
  margin-right: 312px;
  margin-top: 18px;
}

/*Pagina Contacto*/
/*Fondo del background*/
.fondo-importante{
  background-image: linear-gradient(40deg,#08090c,#1c1c22,#4c4c4d,#13298b,#4c4c4d,#13298b,#4c4c4d,#1c1c22,#08090c);
  background-size: 200%;
  animation: fanimado 10s infinite;
}

@keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*Pagina Conexion contacto (Enviar)*/
.fondo-importante-respuesta{
  background-image: linear-gradient(40deg,#08090c,#1c1c22,#4c4c4d,#13298b,#4c4c4d,#13298b,#4c4c4d,#1c1c22,#08090c);
  background-size: 200%;
  
  animation: fanimado 10s infinite;
}
.primer-texto{
margin-top: 70px;  
}
.segundo-texto{
margin-top: 28px;
}
.caja_de_texto_respuesta{
margin-left: 5px; 
margin-top: 22px;
margin-bottom: 80px;
margin-right: 600px;
}
.caja_de_texto_respuesta p{
font-size: 26px;
}
.caja_de_texto_respuesta span{
font-weight: bold;
}

/*Continuacion de pagina tienda javascript*/
.black-icon{
  color: black;
}
.margin-right{
  margin-right: 15px;
}
.margin-left{
  margin-left: 15px;
}

/*Color cada producto*/
.list-inline .colorbotones {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px; /* Ajustar el margen según tu preferencia */
  border: 1.5px solid black;
}

/* Alinear los círculos horizontalmente */
.list-inline {
  display: flex;
  justify-content: center;
  padding: 0; /* Eliminar el relleno del elemento ul */
}


.text-success .texto-precio{
  color: black;
}

.titulo-monitor2{
  margin-top: 20px;
}
.texto-abajo{
  margin-top: 40px;
}

.texto-centro{
  text-align:center;
  color: black;
}

/*BLOG*/
.tienda-fondo{
    background-image: linear-gradient(40deg,#08090c,#1c1c22,#4c4c4d,#13298b,#4c4c4d,#13298b,#4c4c4d,#1c1c22,#08090c);
  background-size: 200%;
  
  animation: fanimado 10s infinite;
}
